<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src="http://d3js.org/d3.v3.min.js" language="JavaScript"></script>
    <script src="/templates/1stvis/liquidFillGauge.js" language="JavaScript"></script>
    <script src="https://d3js.org/d3-queue.v1.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <style>
        .liquidFillGaugeText {
            font-family: Helvetica;
            font-weight: bold;
        }
        
        .fillgauge1 {
            padding: 30px 0px;
        }
        
        .col-lg-2 {
            padding: 40px 100px;
        }
        
        .hi {
            padding-left: 130px;
        }
    </style>
</head>

<body>

    <div class="page-header text-center">
        <h1>Today's Analysis...</h1>
    </div>


    <div class="row">
        <div class="col-lg-12">
            <svg id="fillgauge1" width="97%" height="250"></svg>
        </div>
        <div class="col-lg-12">
            <svg id="fillgauge2" width="19%" height="200"></svg>
            <svg id="fillgauge3" width="19%" height="200"></svg>
            <svg id="fillgauge4" width="19%" height="200"></svg>
            <svg id="fillgauge5" width="19%" height="200"></svg>
            <svg id="fillgauge6" width="19%" height="200"></svg>
        </div>
        <div class="col-lg-12 hi">
            <div class="row">
                <div class="col-lg-2">
                    <div class="text-center" id="fill2" width="19%" height="200">
                        <p>Anger</p>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="text-center" id="fill3" width="19%" height="200">
                        <p>Fear</p>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="text-center" id="fill4" width="19%" height="200">
                        <p>Disgust</p>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="text-center" id="fill5" width="19%" height="200">
                        <p>Joy</p>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="text-center" id="fill6" width="19%" height="200">
                        <p>Sadness</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <a href="/templates/2vis/test2.html">
        <button class="btn btn-default center-block" type="submit" width="400px">View your monthly analysis </button>
        



            <script>
                //read in data
                queue()
                    .defer(d3.json, "/templates/1stvis/sentiment.json") //our topojson from before
                    .defer(d3.json, "/templates/1stvis/emotion.json") //our data for the bar chart

                .await(ready); //ready is the function name

                function ready(error, sen, data) {
                    if (error) throw error;
                    if (isNaN(sen.docSentiment.score)) {
                        score = 50;
                    }


                    var score = 0;
                    if (sen.docSentiment.score)
                    //POSITIVE ( no neg cuz it encourages positivity )
                        if (sen.docSentiment.score < 0) {
                            score = 1 + Number(sen.docSentiment.score);
                        } else {
                            score = sen.docSentiment.score
                        }
                    console.log(score);
                    var gauge1 = loadLiquidFillGauge("fillgauge1", score * 100);

                    //ANGER
                    var config1 = liquidFillGaugeDefaultSettings();
                    config1.circleColor = "#d8280b";
                    config1.textColor = "#FF4444";
                    config1.waveTextColor = "#FFAAAA";
                    config1.waveColor = "#FFDDDD";
                    config1.circleThickness = 0.2;
                    config1.textVertPosition = 0.2;
                    config1.waveAnimateTime = 3000;
                    var gauge2 = loadLiquidFillGauge("fillgauge2", data.docEmotions.anger * 100, config1);


                    //FEAR
                    var config2 = liquidFillGaugeDefaultSettings();
                    config2.circleColor = "#7109d6";
                    config2.textColor = "#460882";
                    config2.waveTextColor = "#460882";
                    config2.waveColor = "#b06fef";
                    config2.circleThickness = 0.2;
                    config2.textVertPosition = 0.2;
                    config2.waveAnimateTime = 3000;
                    var gauge3 = loadLiquidFillGauge("fillgauge3", data.docEmotions.fear * 100, config2);

                    //DISGUST
                    var config3 = liquidFillGaugeDefaultSettings();
                    config3.circleColor = "#37a30a";
                    config3.textColor = "#266d09";
                    config3.waveTextColor = "#266d09";
                    config3.waveColor = "#c6f9a5";
                    config3.circleThickness = 0.2;
                    config3.textVertPosition = 0.2;
                    config3.waveAnimateTime = 3000;
                    var gauge4 = loadLiquidFillGauge("fillgauge4", data.docEmotions.disgust * 100, config3);
                    var config4 = liquidFillGaugeDefaultSettings();


                    //JOY
                    config4.circleColor = "#ce970d";
                    config4.textColor = "#d68816";
                    config4.waveTextColor = "#d68816";
                    config4.waveColor = "#edc370";
                    config4.circleThickness = 0.2;
                    config4.textVertPosition = 0.2;
                    config4.waveAnimateTime = 3000;
                    var gauge5 = loadLiquidFillGauge("fillgauge5", data.docEmotions.joy * 100, config4);
                    var config5 = liquidFillGaugeDefaultSettings();


                    //SADNESS
                    config5.circleColor = "#4433e5";
                    config5.textColor = "#1a09b5";
                    config5.waveTextColor = "#1a09b5";
                    config5.waveColor = "#71acf4";
                    config5.circleThickness = 0.2;
                    config5.textVertPosition = 0.2;
                    config5.waveAnimateTime = 3000;
                    config5.displayPercent = false;
                    var gauge6 = loadLiquidFillGauge("fillgauge6",
                        data.docEmotions.sadness * 100, config5);



                    function NewValue() {
                        if (Math.random() > .5) {
                            return Math.round(Math.random() * 100);
                        } else {
                            return (Math.random() * 100).toFixed(1);
                        }
                    }
                };
            </script>
</body>

</html>