<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="description" content="Homework 1">
    <meta name="author" content="Sravya Divakarla">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Homework 1</title>

    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Abel|Exo:100,400|Josefin+Sans|Lato:100|Maven+Pro|Open+Sans+Condensed:300|Poiret+One|Quicksand|Raleway+Dots|Source+Code+Pro" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="//d3js.org/d3.v3.min.js"></script>

</head>

<body>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>


    <div id="Home" class="FullPage">
        <div id="topTitle">
            <h2 id="titledesc" class="text-center">Type your heart out..</h2>
        </div>
        <div id="imageHome">
            <div class="row">
                <div class="col-lg-12 textbox">
                    <textarea class="center-block">
                    </textarea>
                </div>
                <div class="col-lg-12 button">
                    <a href = "analysis.html"><button type="button" class="center-block btn btn-primary">Primary</button></a>
                </div>
            </div>

        </div>
    </div>


    </div>
</body>
